Repository 2389-research/mammoth: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-vet

go-mod-verify:
  name: go mod verify
  entry: go mod verify
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: go vet
  language: system
  args:
  - ./...
  pass_filenames: false

docs: add tracker integration implementation plan
  docs/superpowers/plans/2026-03-13-tracker-integration.md
Due: none

deps: add github.com/2389-research/tracker dependency
  go.mod
  go.sum
Due: go-mod-verify

feat(web): add BuildEvent type and tracker event mappers
  go.mod
  go.sum
  web/build_event.go
  web/build_event_test.go
Due: go-mod-verify, go-vet

feat(web): add ChannelInterviewer for human gate SSE bridging
  web/channel_interviewer.go
  web/channel_interviewer_test.go
Due: go-vet

refactor(render): import dot types directly instead of via attractor aliases
  render/render.go
  render/render_test.go
Due: go-vet

feat: extract runstate package from attractor with tracker-compatible types
  runstate/store.go
  runstate/store_test.go
Due: go-vet

refactor(web): rewrite dot_fixer to use llm/ directly instead of attractor backend
  web/dot_fixer.go
Due: go-vet

feat(web): rewrite build orchestration to use tracker library
  web/backend.go
  web/backend_test.go
  web/build.go
  web/human_gate.go
  web/server.go
Due: go-vet

feat(mcp): rewrite pipeline tools to use tracker library
  go.mod
  go.sum
  mcp/backend.go
  mcp/backend_test.go
  mcp/doc.go
  mcp/events.go
  mcp/events_test.go
  mcp/interviewer.go
  mcp/interviewer_test.go
  mcp/registry.go
  mcp/server.go
  mcp/tool_events.go
  mcp/tool_events_test.go
  mcp/tool_logs.go
  mcp/tool_logs_test.go
  mcp/tool_resume.go
  mcp/tool_resume_test.go
  mcp/tool_run.go
  mcp/tool_validate.go
  mcp/types.go
  mcp/types_test.go
Due: go-mod-verify, go-vet

feat(tui): rewrite to use tracker library and dot/ types
  tui/app.go
  tui/app_test.go
  tui/bridge.go
  tui/bridge_test.go
  tui/graph_panel.go
  tui/graph_panel_test.go
  tui/human_gate.go
  tui/human_gate_test.go
  tui/log_panel.go
  tui/log_panel_test.go
  tui/messages.go
  tui/messages_test.go
  tui/stream.go
  tui/stream_test.go
Due: go-vet

feat(cmd): rewrite mammoth CLI to use tracker library
  cmd/mammoth/help.go
  cmd/mammoth/help_test.go
  cmd/mammoth/main.go
  cmd/mammoth/main_test.go
Due: go-vet

feat(cmd): port audit logic to cmd/mammoth, remove attractor import
  cmd/mammoth/audit.go
  cmd/mammoth/main.go
Due: go-vet

docs: update project docs for tracker integration
  CLAUDE.md
  README.md
Due: none

fix: wire TUI event bridge, web handler registry, and interviewer safety
  cmd/mammoth/help.go
  cmd/mammoth/help_test.go
  cmd/mammoth/main.go
  cmd/mammoth/main_test.go
  mcp/events.go
  web/channel_interviewer.go
  web/channel_interviewer_test.go
  web/human_gate.go
  web/server.go
Due: go-vet

fix: SSE event name compat, audit normalizer, and build_event cleanup
  cmd/mammoth/audit.go
  cmd/mammoth/main.go
  web/build.go
  web/build_event.go
Due: go-vet

fix: wire human gates and LLM client into web/MCP pipeline execution
  cmd/mammoth-mcp/main.go
  mcp/server.go
  mcp/tool_resume.go
  mcp/tool_run.go
  web/server.go
Due: go-vet

docs: add pipeline-from-spec generation design spec
  docs/superpowers/specs/2026-03-16-pipeline-from-spec-design.md
Due: none

docs: add pipeline-from-spec implementation plan
  docs/superpowers/plans/2026-03-17-pipeline-from-spec.md
Due: none

feat(web): add embedded pipeline_from_spec.dot meta-pipeline
  web/pipeline_from_spec.dot
Due: none

feat(web): embed meta-pipeline DOT with parse/validate tests
  tui/stream.go
  web/generate.go
  web/generate_test.go
Due: go-vet

feat(web): add startGenerationBuild and POST /spec/generate-pipeline handler
  web/generate.go
  web/generate_test.go
  web/server.go
Due: go-vet

refactor: remove deterministic DOT export, DotGenerator agent, and old export handlers
  spec/agents/context_test.go
  spec/agents/prompts.go
  spec/agents/roles.go
  spec/agents/swarm.go
  spec/core/export/dot.go
  spec/core/export/dot_test.go
  spec/export/dot.go
  spec/export/dot_test.go
  spec/web/handlers_export.go
  web/integration_test.go
  web/server.go
  web/server_test.go
  web/spec_adapter.go
  web/transitions.go
  web/transitions_test.go
Due: go-vet

test(web): add integration test for DOT preservation on generation failure
  web/generate_test.go
Due: go-vet

fix: clean up unused result variable and orphaned diagram types
  spec/web/handlers_export.go
  web/generate.go
Due: go-vet

fix(web): address review findings in generation code
  web/generate.go
  web/pipeline_from_spec.dot
Due: go-vet

fix: address roborev findings in editor and landing page
  editor/handlers.go
  editor/server.go
  web/static/js/landing.js
Due: go-vet

Path conditions:
  go-mod-verify: any of: go\.(mod|sum)$
  go-vet: any of: \.go$
