Repository 2389-research/mammoth: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-verify, go-vet

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hooks configuration for mammoth
# ABOUTME: Runs formatting, linting, and tests before each commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^go\.(mod|sum)$
      - id: end-of-file-fixer
        exclude: ^go\.(mod|sum)$
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: ^(mammoth|bin/)  # Allow the binary
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=10m', '--fix']
      - id: go-unit-tests
        args: ['-race', '-count=1', './...']

  - repo: local
    hooks:
      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        args: ['./...']
        files: \.go$
        pass_filenames: false

docs: add mammoth unification implementation plan (21 tasks, 5 phases)
  .agent/changes/36ab38ac90aef3f2547a4ed5b3406340.toml
  docs/plans/2026-02-13-mammoth-unification-plan.md
Due: none

feat(dot): add lexer with line/column tracking
  .agent/changes/e4cc558a4d95a48f5b505adf484a2eb7.toml
  dot/ast.go
  dot/ast_test.go
  dot/lexer.go
  dot/lexer_test.go
Due: go-vet

feat(dot): add consolidated AST types for unified DOT parser
  .agent/changes/63e424d871316ca8d88290596226f9df.toml
Due: none

feat(dot): add serializer with color-coding
  .agent/changes/ccccce899c65946f1d0e39971b35b55e.toml
  dot/parser.go
  dot/parser_test.go
  dot/serializer.go
  dot/serializer_test.go
  dot/validator/lint.go
  dot/validator/lint_test.go
Due: go-vet

feat(dot): add recursive descent parser
  .agent/changes/dc0677231a8ef589eb42aba7d8fbb2d9.toml
Due: none

feat(dot/validator): add unified lint rules from editor and runtime
  .agent/changes/366d4f1159a606072e32d77312901bab.toml
Due: none

refactor(attractor): wire to consolidated dot/ parser package
  .agent/changes/3fd4b7995a1f66c6e44f90a1a1a63700.toml
  .agent/checkpoints/pre-dot-wiring.json
  attractor/ast.go
  attractor/ast_test.go
  attractor/compat.go
  attractor/lexer.go
  attractor/lexer_test.go
  attractor/parser.go
  attractor/parser_test.go
  render/render.go
  render/render_test.go
Due: go-vet

chore: add mux/llm dependency
  .agent/changes/93f1f2b5d957de05331244f2792f708c.toml
  go.mod
  go.sum
Due: go-mod-verify

feat(llm): add mux/llm adapter for agent compatibility
  .agent/changes/0e1a46c9b805bc469e19738518ddc986.toml
  go.mod
  go.sum
  llm/mux_adapter.go
  llm/mux_adapter_test.go
Due: go-mod-verify, go-vet

fix(llm): address review findings in mux adapter - add ctx.Done check in stream goroutine, log unmarshal errors
  .agent/changes/c353f4274cf6f6b1ec924ec18d718705.toml
  llm/mux_adapter.go
Due: go-vet

feat: wire agent backend to use mux/llm via MuxAdapter
  .agent/changes/61d19f1f091af4c879340cbf0f2ab420.toml
  attractor/backend_agent.go
  attractor/backend_agent_test.go
  attractor/backend_test.go
Due: go-vet

test(web): add integration tests for all three user flows
  web/integration_test.go
Due: go-vet

fix(web): eliminate data races in build test assertions
  web/build_test.go
  web/integration_test.go
Due: go-vet

fix: address roborev findings and add Claude Code backend
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yml
  LICENSE
  README.md
  attractor/backend_agent.go
  attractor/backend_claude_code.go
  attractor/backend_claude_code_test.go
  attractor/conditions.go
  attractor/engine.go
  attractor/handlers_tool.go
  attractor/rundir.go
  attractor/runstate_fs.go
  attractor/runstate_test.go
  attractor/server_ui.go
  cmd/mammoth/help.go
  cmd/mammoth/help_test.go
  cmd/mammoth/main.go
  cmd/mammoth/main_test.go
  tui/app.go
  tui/bridge.go
  tui/stream.go
  tui/stream_test.go
Due: go-vet

feat: add per-node timeout for pipeline engine
  attractor/engine.go
  attractor/engine_test.go
  attractor/retry.go
  examples/build_htmx_blog.dot
Due: go-vet

fix: surface scanner errors and add *float64 to toInt
  README.md
  attractor/backend_claude_code.go
  attractor/server_ui.go
  tui/stream.go
Due: go-vet

fix(editor): address roborev findings for concurrency, XSS, and input validation
  web/integration_test.go
Due: go-vet

feat(web): wire spec builder into unified server
  spec/web/embed.go
  spec/web/static/board.js
  spec/web/templates.go
  spec/web/templates/base.html
  spec/web/templates/partials/board.html
  web/server.go
  web/spec_adapter.go
Due: go-vet

fix(web): prevent race conditions in spec init and recovery
  web/server.go
  web/spec_adapter.go
Due: go-vet

Harden spec/build wiring and stabilize build-start test
  web/build_test.go
  web/server.go
  web/spec_adapter.go
Due: go-vet

chore: apply hook formatting cleanup
  .agent/checkpoints/pre-dot-wiring.json
  attractor/scenario_autoresume_test.go
  dot/ast_test.go
  dot/validator/lint.go
  llm/mux_adapter_test.go
Due: go-vet

fix(web): stop spec swarms on phase transitions and show build tool activity
  spec/server/app_state.go
  web/build_test.go
  web/server.go
  web/server_test.go
  web/templates/build_view.html
Due: go-vet

feat(web): resume pending builds and improve build continuity UX
  web/build_test.go
  web/server.go
  web/templates/build_view.html
  web/templates/project_overview.html
Due: go-vet
